:root {
    background-color: #eee;
    color: #333;
    font-family: system-ui;
}

body {
    color: inherit;
}

.android .context-menu-options {
    display: none;
}

#url {
    width: 100%;
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #1e1e2c;
        color: #d1d1da;
    }
}
