:root {
    background-color: #eee;
    color: #333;
    font-family: system-ui;
}

body {
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #1e1e2c;
        color: #d1d1da;
    }
}
